{
    // eslint에 대한 설정
    "parserOptions": {
        "ecmaVersion": 2019,
        "sourceType": "module"
    },
    "env": {
        "browser": true, // 브라우저 환경
        "node": true // 후에 backend 만들면 node에서도 사용
    },
    "extends": [
        "plugin:vue/recommended" // vue가 권장하는 코딩 스타일
    ],
    "plugins": [],
    "rules": {
        "vue/max-attributes-per-line": "off",
        "vue/singleline-html-element-content-newline": "off"
    }
}